---
Language:        Cpp

DisableFormat:   false

# GENERAL INDENTATION
UseTab: Never
TabWidth: 4
IndentWidth: 4

AccessModifierOffset: -2

AlignAfterOpenBracket: BlockIndent
AlignArrayOfStructures: Right
AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: false
  AlignCompound: false
  AlignFunctionPointers: false
  PadOperators: true
AlignConsecutiveMacros:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: false
  AlignCompound: false
  AlignFunctionPointers: false
  PadOperators: false
AlignEscapedNewlines: Right
AlignOperands: Align
AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 2

AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
AllowBreakBeforeNoexceptSpecifier: Always
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
AllowShortCompoundRequirementOnASingleLine: false
AllowShortEnumsOnASingleLine: true
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: All
AllowShortLoopsOnASingleLine: false

AlwaysBreakAfterReturnType: None
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakBeforeMultilineStrings: false
AlwaysBreakTemplateDeclarations: true

BinPackArguments: false
BinPackParameters: false

BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel: true
  AfterClass: false
  AfterControlStatement: false
  AfterEnum: false
  AfterExternBlock: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: false
  AfterUnion: false
  BeforeCatch: false
  BeforeElse: false
  BeforeLambdaBody: true
  BeforeWhile: false
  IndentBraces: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: true
BreakAdjacentStringLiterals: true
BreakAfterAttributes: Never
#BreakAfterReturnType: Automatic
BreakBeforeBinaryOperators: None
BreakBeforeConceptDeclarations: Always
BreakBeforeTernaryOperators: false
BreakConstructorInitializers: BeforeColon
BreakInheritanceList: AfterColon
BreakStringLiterals: true

ColumnLimit: 95
CompactNamespaces: false
ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 4
Cpp11BracedListStyle: false

DerivePointerAlignment: false

EmptyLineAfterAccessModifier: Never
EmptyLineBeforeAccessModifier: Always
ExperimentalAutoDetectBinPacking: true

FixNamespaceComments: true

IncludeBlocks: Preserve
IndentAccessModifiers: false
IndentCaseBlocks: false
IndentCaseLabels: false
IndentExternBlock: NoIndent
IndentGotoLabels: false
IndentPPDirectives: BeforeHash
IndentRequiresClause: false
IndentWrappedFunctionNames: false
InsertBraces: false
InsertTrailingCommas: None
IntegerLiteralSeparator:
  Binary: 0
  Decimal: 3
  Hex: 4

LambdaBodyIndentation: Signature

MaxEmptyLinesToKeep: 2

NamespaceIndentation: All

PackConstructorInitializers: BinPack
PointerAlignment: Left
PPIndentWidth: -1

QualifierAlignment: Leave

ReferenceAlignment: Pointer
ReflowComments: true
RemoveParentheses: Leave
RemoveSemicolon: false
#RequiresClausePosition: OwnLineWithBrace
RequiresExpressionIndentation: OuterScope

SeparateDefinitionBlocks: Always
ShortNamespaceLines: 3
#SortIncludes:
#  Enabled: true
#  IgnoreCase: false
SortUsingDeclarations: LexicographicNumeric
SpaceAfterCStyleCast: false
SpaceAfterLogicalNot: false
SpaceAfterTemplateKeyword: true
SpaceAroundPointerQualifiers: Default
SpaceBeforeAssignmentOperators: true
SpaceBeforeCaseColon: false
SpaceBeforeCpp11BracedList: false
SpaceBeforeCtorInitializerColon: true
SpaceBeforeInheritanceColon: true
SpaceBeforeParens: Custom
SpaceBeforeParensOptions:
  AfterControlStatements: true
  AfterForeachMacros: true
  AfterFunctionDefinitionName: false
  AfterFunctionDeclarationName: false
  AfterIfMacros: true
  AfterOverloadedOperator: false
  AfterPlacementOperator: true
  AfterRequiresInClause: false
  AfterRequiresInExpression: false
  BeforeNonEmptyParentheses: false
SpaceBeforeRangeBasedForLoopColon: true
SpaceBeforeSquareBrackets: false
SpaceInEmptyBlock: true
SpacesBeforeTrailingComments: 1

# PENALTIES:
PenaltyReturnTypeOnItsOwnLine: 10000
PenaltyBreakTemplateDeclaration: 10000
#PenaltyBreakBeforeMemberAccess: 10000
PenaltyBreakAssignment: 800
PenaltyBreakScopeResolution: 500
PenaltyBreakComment: 500
PenaltyBreakFirstLessLess: 120
PenaltyExcessCharacter: 100
PenaltyBreakBeforeFirstCallParameter: 10
PenaltyBreakString: 10
PenaltyBreakOpenParenthesis: 10
PenaltyIndentedWhitespace: 0

...
